---
import Layout from '../layouts/Layout.astro';
import MenuHeader from '../components/indexComp/header/MenuHeader.astro';
import MenuSelection from '../components/indexComp/main/MenuSelection.astro'
---

<Layout title="Empire&apos;s Shield">
	<main 
	class="main-background w-full h-full z-0 
	flex flex-col items-center lg:items-start 
	justify-center">
		<MenuHeader />
		<MenuSelection />
	</main>
</Layout> 




<style>
	.main-background {
	  background-image: url('../assets/menu.jpg');
	  background-size: cover; /* Adjust as needed */
	  /* You can add more CSS properties to style the background image here */
	}
</style>

